<!--books.html-->

{% extends "layouts.html" %}

{% block content %}
<div class="row">
    <div class="col-md-1">

    </div>
    <div class="well col-md-4">
        <h2>
            The protestant Ethic and the Spirit of Capitalism
        </h2>
        <h3>
            by Max Weber
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="well col-md-4">
        <h2>
            The communist Manifesto
        </h2>
        <h3>
            by Karl Marx
        </h3>
    </div>

</div>

{% endblock %}